{% extends "footer.html" %}


<!--Title tag for the home page-->
{% block title %}
	Wiki Front
{% endblock title %}
 
{% block content %}
<!--Body content-->
	<div class="well well-large">
		{% if login_status %}
			<form class="well" method="post">
				<fieldset>
					{% if in_edit_content_mode %}
						<textarea class="textarea-size" type="text" name="content" id="inputContent">{{ content }}</textarea>
						<button type="submit" class="btn">Save</button>
					{% else %}
						<div>{{ content }}</div>
						<button type="submit" class="btn">Edit</button>
					{% endif %}
				</fieldset>
			</form>
		{% else %}
			<div class="well">
				{% if content %}
					<div>{{ content }}</div>
				{% else %}
					<h2>This is a new wiki page.</h2>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock content %}
