body, html {
	height: 100%;
}
body {
	background: $body_color !important;
	padding-left: 0px !important;
	padding-right: 0px !important;

	/*Due to the fact web browsers define different default styling for html elements, 
	the first thing to do is to always include a CSS reset in your stylesheet. By using 
	this code, you’re already eliminating lots of future headaches.*/
	html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
	h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
	ul,ol {list-style:none;}
	fieldset,img,hr {border:none;}
	caption,th {text-align:left;}
	table {border-collapse:collapse; border-spacing:0;}
	td {vertical-align:top;}
}

#contentContainer {
	position: relative;
	min-height: 100%;
	max-width: 860px;
	margin: 0px auto;
	background: $white;
	border-left: 20px solid $body_color;
	border-right: 20px solid $body_color;
	padding: 5px;
}
#timeStamp {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: $timp_stamp_color;
	font-weight: bold;
	font-style: italic;
}

.header{
	font-size: $header_font;
	font-weight: bold;
	color: $font_color;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.error {
	color: $error_color;
}

.divider {
	height: 0px;
	width: 100%;
	border-top: solid;
	margin: 10px, 0px, 10px, 0px;
	border-top-color: purple; 
}
