.error {
	color: red;
}


input[type=text] {
	width: 500px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
	display: block;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: none;
}

.post + .post {
	margin-top: 15px;
}

.post-heading {
	position: relative;
	border-bottom: 3px solid #666;
}

.post-title {
	font-size: 24px;
	font-weight: bold;

	text-decoration: none;
	color: #333;
}

.post-title:visisted {
	color: #333;
}

.post-date {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #999;

}

.post-content {
	margin-top: 5px;
}

.age {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: gray;
	font-size: 12px;
}
.padding {
	padding: 40px 0px 40px 0px;
}

.upper-padding {
	padding: 40px 0px 0px 0px;
}

.lower-padding {
	padding: 0px 0px 40px 0px;
}
.margin {
	padding: 40px 0px 40px 0px;
}

.upper-margin {
	padding: 40px 0px 0px 0px;
}

.lower-margin {
	padding: 0px 0px 40px 0px;
}

.center-horizontally {
	margin-left:0 auto;
	margin-right:0 auto;
}

.center-vertically {
	margin-top:auto;
	margin-bottom:auto;
}

.rounded_borders {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.top-rounded-borders {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.bottom-rounded-borders {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.link-style {
	list-style-type: none;
	color: #333;
}
.link-style:hover {
	color: #333;
}

.divider {
	height: 0px;
	width: 100%;
	border-top: solid;
	margin: 10px, 0px, 10px, 0px;
	border-top-color: purple; 
}
