{% extends "footer.html" %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
	<div class="well well-large">
		<h2>Login</h2>
		<form class="form-horizontal" method="post">
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
					<input type="text" value="{{ username }}" name="username" id="inputUsername" placeholder="Username"/>
					<span class="error">{{ error_username }}</span>	
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" name="password" id="inputPassword" placeholder="Password"/>
					<span class="error">{{ error }}</span>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock content %}