{% extends "footer.html" %}

{% block title %}
	NewPost Page
{% endblock title %}

{% block content %}	
	<div class="well well-large">
		<h2>New Post</h2>

		<form method="post">
			<label>
				Subject
				<input type="text" value="{{ subject }}" name="subject">
				<span class="error">{{ error_subject }}</span>
			</label>
			<br/>
			<label>
				Blog
				<textarea type="text" name="content">{{ content }}</textarea>
				<span class="error">{{ error_content }}</span>
			</label>
			<br/>
			<br/>
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
{% endblock content %}