{% extends "home.html" %}

{% block title %}
	Signup
{% endblock title %}

{% block content %}
<h2>Signup</h2>
<form method="post">
	<label>
		Username
		<input type="text" value="{{ username }}" name="username">
		<span class="error">{{ error_username }}</span>
	</label>
	<br/>
	<label>
		Password
		<input type="password" name="password">
		<span class="error">{{ error_password }}</span>
	</label>
	<br/>
	<label>
		Verify Password
		<input type="password" name="verify">
		<span class="error">{{ error_mismatch_passwords }}</span>
	</label>
	<br/>
	<label>
		Email (optional)
		<input type="text" value="{{ email }}" name="email">
		<span class="error">{{ error_email }}</span>
	</label>
	<br/>
	<button type="submit" class="btn">Submit</button>
</form>
{% endblock content %}